name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Methods Test
      id: methods-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Methods Test
        setup-command: "./setup.sh"
        command: "./tests/run-trip.sh"
        timeout: 10
        max-score: 7
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        METHODS-TEST_RESULTS: "${{steps.methods-test.outputs.result}}"
      with:
        runners: methods-test
